/*
    font-family: 'Raleway', sans-serif;
    font-family: 'Cinzel Decorative', cursive;
    font-family: 'Mina', sans-serif;
    font-family: 'Anton', sans-serif;
    font-family: 'Limelight', cursive;
*/
body{
/*    background-color: #000*/;
    overflow-x: hidden
}

@media(max-width: 775px){
    body{
/*        width: 775px*/
    }
}

.wrap_body{
    overflow: hidden
}

.top_socials{
    background-color: #1f1f1f;
    color: #fff;
    padding: 10px 0 1px
}

@media(max-width: 995px){
    .top_socials{
        text-align: center
    }
}

.top_socials i{
    color: #bf202a;
    font-size: 16px
}

@media(max-width: 995px){
    .top_socials .top_mails{
        text-align: center
    }
}

/*========== Start navbar ==========*/
.navbar{
    margin: 0;
    border: 0;
    border-radius: 0;
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 15;
    left: 0;
    padding-top:10px;
    transition: all .2s ease-in-out;
    margin-top: 40px;
    background-color: #fff
/*    background-color: rgba(255, 255, 255, .5)*/
/*    background: linear-gradient(180deg, rgba(31,31,31,.8) 80%, rgba(255,255,255,0) 100%);*/
}

/*class for fixedx styling*/
.white_shadow{
    background-color: #fff;
    box-shadow: 0 0 5px 0 rgba(221, 221, 221, 1)
}
/*class for fixedx styling*/

@media(max-width: 775px){
    .navbar{
        padding-top: 0;
    background-color: #fff;
        padding-bottom: 5px
    }
}

@media(max-width: 775px){
    .navbar-toggle{
        background-color: transparent;
        position: relative;
        top: 5px
    }
    
    .navbar-toggle span{
        background-color: #da232f
    }
}

.navbar .navbar-nav a{
    font-size: 18px;
    color: #bf202a;
    display: inline-block;
    margin: 20px;
    position: relative;
    text-decoration: none;
    padding: 0px 0;
    cursor: pointer;
/*    text-shadow: 0 0 1px #fff*/
}

.navbar [alt="egypt-flag"]{
    width: 30px;
    height: 20px
}

.navbar .navbar-nav a:hover{
    background-color: transparent
}

.navbar .navbar-nav .active_a{
    border-top: 3px solid #da232f
}

.navbar .navbar-nav a:hover:before {
    width: 100%;
}

.navbar .navbar-nav a:before {
    content: attr(data-text);
    border-top: 3px solid #da232f;
    position: absolute;
    left: 0;
    top: -3px;
    color: #bf202a;
    white-space: nowrap;
    width: 0%;
    overflow: hidden;
    padding: 10px 0;
    transition: .4s;
}

.navbar .navbar-brand{
    display: block;
    position: relative;
    top: -20px;
    margin: 0!important
}

.navbar .navbar-brand img{
    position: relative;
    width: 70px;
    z-index: 5
}

@media(max-width: 775px){
    .navbar .navbar-brand img{
        width: 40px;
        padding-top: 20px
    }
}

.colorred{
    color: #bf202a!important
}

.active_link{
    color: red!important;
    background-color: rgba(238, 238, 238, .4)!important
}

.navbar .lang a{
    color: #333;
    font-weight: 600;
    font-size: 12px
}
/*========== End navbar ==========*/

/*========== Start home_slider ==========*/
.home_slider{
    height: 100vh;
    margin: 0
}

.home_slider #myCarousel,
.home_slider #myCarousel .item,
.home_slider #myCarousel .item img{
    height: 87.4vh;
    margin: 0
}

.home_slider #myCarousel .item{
    height: 87.4vh;
    width: 100%
}

@media(max-width: 775px){
    .home_slider #myCarousel .item{
        height: 92.2vh
    }
}


.home_slider #myCarousel .item:first-child,
.home_slider #myCarousel .item:nth-of-type(2),
.home_slider #myCarousel .item:nth-of-type(3),
.home_slider #myCarousel .item:nth-of-type(4),
.home_slider #myCarousel .item:nth-of-type(5),
.home_slider #myCarousel .item:last-of-type{
    background-size: 100% 100%
}

@media(max-width: 995px){
    .home_slider #myCarousel .item:first-child,
    .home_slider #myCarousel .item:nth-of-type(2),
    .home_slider #myCarousel .item:nth-of-type(3),
    .home_slider #myCarousel .item:nth-of-type(4),
    .home_slider #myCarousel .item:nth-of-type(5),
    .home_slider #myCarousel .item:last-of-type{
        background-size: cover
    }
}

.home_slider .overlay_slider{
    height: 100vh!important;
    background: linear-gradient(to top, rgba(0,0,0,1) 10%,rgba(255,255,255,0) 100%);
    width: 100%!important;
}

.home_slider #myCarousel .item img{
    width: 100%!important;
    margin: 0
}

.home_slider #myCarousel .item .carousel-caption{
    text-align: left;
    padding-bottom: 30vh
}

@media(max-width: 775px){
    .home_slider #myCarousel .item .carousel-caption{
        padding-bottom: 20vh
    }
}

.home_slider #myCarousel .item .carousel-caption h3{
    font-size: 60px;
    position: relative;
    font-family: 'Mina', sans-serif;
}

@media(max-width: 775px){
    .home_slider #myCarousel .item .carousel-caption h3{
        font-size: 40px;
        text-align: center
    }
}

/*
.home_slider #myCarousel .item .carousel-caption h3:after{
    content: '';
    display: block;
    position: absolute;
    top: 40px;
    left: 180px;
    height: 6px;
    width: 120px;
    background-color: #da232f
}
*/

/*
@media(max-width: 775px){
    .home_slider #myCarousel .item .carousel-caption h3:after{
        top: 20px;
        left: 160px;
        height: 4px;
        width: 80px;
    }
}
*/

.home_slider #myCarousel .item .carousel-caption p{
    font-size: 25px;
    line-height: 1.4;
    color: #ddd;
    font-family: 'Cinzel Decorative', cursive;
}

@media(max-width: 775px){
    .home_slider #myCarousel .item .carousel-caption p{
        font-size: 18px;
        line-height: 1.2;
        text-align: center;
        color: #ddd
    }
}

.home_slider #myCarousel .nav{
    background: #eee;
}

.home_slider .nav-justified > li > a{
    border-radius: 0px;
}

@media(max-width: 775px){
    .home_slider .nav-pills{
        display: flex
    }
}

/*
.home_slider .nav-pills>li[data-slide-to="0"].active a { background-color: #16a085; }
.home_slider .nav-pills>li[data-slide-to="1"].active a { background-color: #e67e22; }
.home_slider .nav-pills>li[data-slide-to="2"].active a { background-color: #2980b9; }
.home_slider .nav-pills>li[data-slide-to="3"].active a { background-color: #8e44ad; }
*/

.home_slider .nav-pills>li.active>a,
.home_slider .nav-pills>li.active>a:focus,
.home_slider .nav-pills>li.active>a:hover{
    background-color: #000!important;
}

.home_slider .nav-pills>li.active>a img,
.home_slider .nav-pills>li.active>a:focus img,
.home_slider .nav-pills>li.active>a:hover img{
    box-shadow: 0 0 20px 5px rgba(255, 255, 255, .5)!important
}

.home_slider .nav-pills li a{
    width: 100%;
    height: 100%;
    background-color: #000
}

@media(max-width: 775px){
    .home_slider .nav-pills li a{
        padding: 0
    }
}

.home_slider .nav-pills li a img{
    width: 90%;
    height: 80px;
    box-shadow: 0 0 20px 5px rgba(255, 0, 0, .5)
}

@media(max-width: 775px){
    .home_slider .nav-pills li a img{
        box-shadow: none
    }
}

@media(max-width: 775px){
    .home_slider .nav-pills li a img{
        width: 100%;
        height: 40px
    }
}
/*========== End home_slider ==========*/

/*========== Start about ==========*/
.about{
    background-color: #1f1f1f;
    padding: 60px 0;
    position: relative
}

@media(max-width: 775px){
    .about{
        padding: 20px 0
    }
}

.about h2{
    color: #fff;
    font-family: 'Cinzel Decorative', cursive;
    text-transform: uppercase;
    position: relative;
    margin-bottom: 20px
}

@media(max-width: 775px){
    .about h2{
        font-size: 25px;
        margin-top: 5px
    }
}

/*
.about h2:after{
    content: '';
    display: block;
    position: absolute;
    top: 15px;
    left: 55%;
    height: 2px;
    width: 80px;
    background-color: #da232f
}

@media(max-width: 775px){
    .about h2:after{
        top: 14px;
        left: 68%;
        width: 40px
    }
}
*/

.about h2{
    font-size: 35px;
    font-weight: 600
}

.about p{
    font-size: 16px;
    color: #ddd;
    font-family: 'Mina', sans-serif;
    line-height: 1.6;
}

@media(max-width: 775px){
    .about p{
        font-size: 14px;
        color: #6f6f6f
    }
}

.about img{
    position: absolute;
    bottom: 12px;
    right: 60px;
    width: 40px;
/*    transform: rotateX(180deg) rotate(180deg);*/
    opacity: .6
}

@media(max-width: 775px){
    .about img{
        position: absolute;
        bottom: 5px;
        right: 120px;
        width: 25px;
        opacity: .6
    }
}

/*========== End about ==========*/

/*========== Start certs ==========*/
.certs{
    background-color: #f8f8f8;
    padding: 40px 0
}

.certs h3{
    color: #333
}

.certs img{
/*    position: relative;*/
/*    display: block;*/
    border-radius: 6px;
    transition: all .2s ease-in-out
}

.certs img:hover{
    filter: brightness(.5)
}

/*========== End certs ==========*/

/*=================================== Start services ===================================*/
.services{
    padding: 40px 0
}

@media(max-width: 775px){
 .services{
        padding: 10px 0
    }   
}

.services .heading{
    margin-bottom: 40px
}

.services .heading h2{
    text-transform: capitalize;
    font-family: 'Cinzel Decorative', cursive;
    position: relative
}

/*
.services .heading h2:after{
    content: '';
    display: block;
    position: absolute;
    top: 15px;
    left: 55%;
    height: 2px;
    width: 80px;
    background-color: #da232f
}
*/

.services .heading p{
    color: #b5b5b5;
    font-size: 16px;
    width: 80%;
    margin: auto
}

@media(max-width: 775px){
 .services .heading p{
        font-size: 12px;
        width: 100%
    }   
}

.services .single_service{
    margin-bottom: 100px;
    position: relative
}

@media(max-width: 775px){
    .services .single_service{
        margin-bottom: 20px
    }
}

.services .single_service .describe_service{
    padding-top: 12%
}

@media(max-width: 775px){
    .services .single_service .describe_service{
        padding-top: 0%
    }
}

.services .single_service .describe_service h2{
    font-family: 'Limelight', cursive;
    font-size: 40px;
    color: #da232f;
    position: relative;
    margin-bottom: 30px
}

@media(max-width: 775px){
    .services .single_service .describe_service h2{
        font-size: 30px;
        color: #da232f;
        margin-bottom: 10px;
        margin-top: 0;
        text-align: center
    }
}

/*
.services .single_service .describe_service h2:after{
    content: '';
    display: block;
    position: absolute;
    top: 22px;
    left: 180px;
    height: 4px;
    width: 80px;
    background-color: #333;
    transition: all .8s ease-in-out
}

.services .single_service .describe_service:hover h2:after{
    left: 280px;
    width: 240px;
}

@media(max-width: 775px){
    .services .single_service .describe_service h2:after{
        top: 15px;
        left: 65%;
        height: 4px;
        width: 60px;
        background-color: #ddd
    }
}
*/

.services .single_service p{
    font-size: 16px;
    color: #888888;
    font-family: 'Mina', sans-serif;
}

@media(max-width: 775px){
    .services .single_service p{
        font-size: 14px;
        text-align: center;
        padding: 10px
    }
}

.services .single_service img{
    width: 70%;
    box-shadow: 0 0 20px 10px #ddd;
    transition: all .4s ease-in-out
}

.services .single_service:hover img{
    filter: brightness(1.3);
    box-shadow: 0 0 25px 15px rgba(51, 51, 51, .5);
}

.single_service a{
    color: #bf202a;
    font-size: 12px;
    font-weight: 600;
    text-decoration: none
}

.single_service a i{
    font-size: 8px;
    transition: all .2s ease-in-out
}

.single_service a:hover i{
    padding-left: 8px
} 
/*=================================== End services ===================================*/

/*=================================== Start work_slider ===================================*/

.work_slider{
    padding: 50px 0;
    background-color: rgba(238, 238, 238, .4)
}

.work_slider .work_slider_head h2{
    color: #040812;
    font-size: 35px;
    letter-spacing: 1px;
    margin-bottom: 20px;
    font-family: 'Cinzel Decorative', cursive;
}

.work_slider .work_slider_head p{
    font-size: 16px;
    color: gray;
    text-transform: capitalize;
    width: 70%;
    margin: auto;
    margin-bottom: 20px;
    font-family: 'Mina', sans-serif;
}

.work_slider .work_slider_head p strong{
    color: #333
}

.work_slider .wrapper_slider .controls{
    padding: 10px 0;
    color: #eee;
    text-align: center
}

.work_slider .wrapper_slider button{
    display: inline-block;
    padding: .4em .8em;
    color: #333;
    background: transparent;
    border: 0;
    font-size: 16px;
    font-weight: 300;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid #ddd;
    transition: all .3s ease-in-out;
    font-family: Cambria Math;
    text-transform: uppercase
}

.work_slider .wrapper_slider button:hover{
    background-color: transparent;
    border-color: #da232f;
    color: #da232f
}

.work_slider .wrapper_slider button.active{
    background: #da232f;
    color: #fff
}

.work_slider .wrapper_slider button:focus{
  outline: 0 none;
}

.work_slider .wrapper_slider .container{
  padding: 1% 2% 0;
/*  text-align: justify;*/
  font-size: 0.1px
/*  -webkit-backface-visibility: hidden;*/
}

/*
.work_slider .wrapper_slider .container:after{
  content: '';
  display: inline-block;
  width: 100%;
}
*/

.work_slider .wrapper_slider .container .mix,
.work_slider .wrapper_slider .container .gap{
  display: inline-block;
  width: 49%;
}

.work_slider .wrapper_slider .container .mix{
    text-align: left;
    background: #03899c;
    margin-bottom: 2%;
    display: none;
    overflow: hidden;
    height: 300px;
    margin: 2px!important
}

@media(max-width: 995px){
    .work_slider .wrapper_slider .container .mix{
        margin: 1px!important
    }
}

.work_slider .wrapper_slider .container .mix img{
    max-width: 100%;
    transition: all .3s ease-in-out
}

.work_slider .wrapper_slider .container .mix:hover img{
    filter: brightness(30%);
    transform: scale(2)
}

.work_slider .wrapper_slider .container .mix:hover h5{
    color: #74c5f3
}


@media all and (min-width: 420px){
    .work_slider .wrapper_slider .container .mix,
    .work_slider .wrapper_slider .container .gap{
        width: 32%;
    }
}

@media all and (min-width: 640px){
    .work_slider .wrapper_slider .container .mix,
    .work_slider .wrapper_slider .container .gap{
        width: 23.5%;
    }
}

.work_slider .wrapper_slider img{
    width: 300px;
    height: 200px
}

.mix,
.web{
    margin: 0!important
}

.work_slider .wrapper_slider .info{
    background-color: #1f1f1f;
    height: 200px;
    padding: 10px
}

.work_slider .wrapper_slider .info h3,
.work_slider .wrapper_slider .info p{
    margin: 0;
    color: #fff!important;
    font-size: 16px!important;
}

.work_slider .wrapper_slider .info h3{
    padding: 12px;
    font-size: 25px
}

.work_slider .wrapper_slider .info p{
    color: #ddd;
    font-size: 16px
}

#gallery-wrapper img{
    width: 68%
}
/*=================================== End work_slider ===================================*/

/*=================================== Start contact ===================================*/
.contact{
    background-color: #1f1f1f;
    color: #fff
}

.contact .overlay{
    padding: 100px 0 60px
}

@media(max-width: 775px){
    .contact .overlay{
        padding: 20px 0 0
    }
}

.contact .contact_info h3{
    position: relative;
    color: #bf202a;
    text-transform: capitalize;
    font-size: 30px;
    font-family: 'Limelight', cursive;
}

@media(max-width: 775px){
    .contact .contact_info h3{
        text-align: center
    }
}

/*
.contact .contact_info h3:after{
    content: '';
    display: block;
    position: absolute;
    top: 15px;
    left: 160px;
    height: 4px;
    width: 60px;
    background-color: #818181;
    transition: all .8s ease-in-out
}

.contact .contact_info:hover h3:after{
    left: 210px;
    width: 200px
}

@media(max-width: 775px){
    .contact .contact_info h3:after{
        left: 230px
    }
    .contact .contact_info:hover h3:after{
        left: 160px;
        width: 100px
    }
}
*/

.contact .contact_info p{
    font-size: 16px;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    width: 80%
}

@media(max-width: 775px){
    .contact .contact_info p{
        font-size: 14px;
        color: #ddd;
        width: 100%;
        padding: 10px;
        text-align: center
    }
}

.contact .contact_info .address li{
    line-height: 3
}

.contact .contact_info .address li span{
    font-size: 16px
}

.contact .contact_info .address i{
    color: rgba(217, 35, 46, .5);
    font-size: 25px;
    margin-right: 10px;
    transition: all .2s ease-in-out
}

.contact .contact_info .address li:hover i{
    color: #da232f
}

.contact .contact_info .socials{
    margin: 30px 0
}

@media(max-width: 775px){
    .contact .contact_info .socials{
        text-align: center
    }
}

.contact .contact_info .socials li{
    border: 1px solid #4d4d4d;
    padding: 5px;
    margin: 10px;
    transform: rotate(45deg);
    transition: all .2s ease-in-out
}

.contact .contact_info .socials li i{
    color: #fff;
    font-size: 30px;
    height: 50px;
    width: 50px;
    line-height: 50px;
    border-radius: 4px;
    transform: rotate(-45deg);
    transition: all .2s ease-in-out
}

@media(max-width: 775px){
    .contact .contact_info .socials li i{
        font-size: 30px;
        height: 40px;
        width: 40px;
        line-height: 40px;
        border-radius: 4px;
        text-align: center
    }

}

.contact .contact_info .socials li:first-of-type i{
    color: #3b5998
}

.contact .contact_info .socials li:nth-of-type(2) i{
    color: #e1306c
}

.contact .contact_info .socials li:nth-of-type(3) i{
    color: #1da1f2
}

.contact .contact_info .socials li:nth-of-type(4) i{
    color: #ff0000
}

.contact .contact_form input,
.contact .contact_form textarea{
    background-color: transparent;
    margin: 5px;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid rgba(221, 221, 221, .3);
    border-radius: 4px;
    font-size: 16px
}

@media(max-width: 775px){
    .contact .contact_form input,
    .contact .contact_form textarea{
        font-size: 14px
    }
}

.contact .contact_form [type='text']{
    width: 240%;
    display: block
}

@media(max-width: 775px){
    .contact .contact_form [type='text']{
        width: 160%
    }
}

.contact .contact_form [type='email']{
    float: left
}

.contact .contact_form [type='email'],
.contact .contact_form [type='tel']{
    width: 266px
}

@media(max-width: 775px){
    .contact .contact_form [type='email'],
    .contact .contact_form [type='tel']{
        width: 320px
    }
}

.contact .contact_form textarea{
    width: 258%;
    height: 180px
}

@media(max-width: 775px){
    .contact .contact_form textarea{
        width: 320px;
        height: 120px
    }   
}

.contact .contact_form button{
    background-color: transparent;
    border: 0;
    outline: 0;
    margin: 20px 0 0 0
}

.contact .contact_form .svg-wrapper {
    height: 60px;
    margin: 20px auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 320px;
    border: 1px solid #404040;
}

.contact .contact_form .shape {
    fill: transparent;
    stroke-dasharray: 140 540;
    stroke-dashoffset: -474;
    stroke-width: 8px;
    stroke: #da232f;
}

.contact .contact_form .text{
    color: #fff;
    font-size: 25px;
    letter-spacing: 8px;
    line-height: 32px;
    position: relative;
    top: -48px;
    font-family: 'Mina', sans-serif
}

@keyframes draw {
  0% {
    stroke-dasharray: 140 540;
    stroke-dashoffset: -474;
    stroke-width: 8px;
  }
  100% {
    stroke-dasharray: 760;
    stroke-dashoffset: 0;
    stroke-width: 2px;
  }
}

.contact .contact_form .svg-wrapper:hover .shape {
    -webkit-animation: 0.5s draw linear forwards;
    animation: 0.5s draw linear forwards;
}
/*=================================== End contact ===================================*/

/*=================================== Start copyright ===================================*/
.copyright{
    background-color: #000;
    padding: 10px 0 0
}

.copyright p{
    color: #fff;
    text-transform: capitalize;
    font-size: 14px;
    color: darkgray
}

.copyright p a{
    color: orange;
    font-weight: 600
}
/*=================================== End copyright ===================================*/

/*=================================== Start up ===================================*/
.up{
    position: fixed;
    bottom: 10px;
    right: 20px;
    border-top: 2px solid #333;
    padding-top: 5px;
    cursor: pointer;
    display: none;
    transition: all .2s ease-in-out
}

.up:hover{
    border-color: #bf202a;
    transform: translate(0, -10px)
}

.up i{
    color: #333;
    font-size: 20px
}

.up:hover i{
    color: #da232f
}
/*=================================== End up ===================================*/
::placeholder{
    color: #fff
}
